{% extends 'base.html' %}
{% block title %}特定商取引法{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static('css/howto.css') }}">
  <style type="text/css">
    h2 {padding-top: 1em;}
  </style>
{% endblock %}
{% block content %}
    <h1>特定商取引法に基づく表示</h1>
    <h2>事業者</h2>
    長崎居留地アベニュー実行委員会
    webサイト : https://nagasakiavenue.wixsite.com/avenue
    <h2>代表者</h2>
    岩本諭
    <h2>所在地</h2>
    長崎県長崎市南山手町13-24
    <h2>問い合わせ先</h2>
    メールアドレス : nagasaki.avenue@gmail.com
    <h2>商品代金</h2>
    チケット毎に税込価格で表示
    <h2>チケット代金の支払い方法・時期</h2>
    クレジットカード払い（Visa,MasterCard,AmericanExpress等）, ウォレット払い（ApplePay, GooglePay）. ただし, Stripeに準拠され, 予告なく変更する場合があります.
    購入確定時に決済を行う. ただし, 支払い時期はご利用のカード会社ごとに異なります. 
    <h2>商品引き渡し時期</h2>
    決済手続き完了後, 直ちに引き渡される.
    <h2>返品・キャンセルについて</h2>
    商品の都合上, 原則としてお客様都合による, 商品の返品・キャンセルはお受けしておりません. ただし, システムの瑕疵による誤課金が発生した場合はその限りではありません. 
    <h2>イベント中止等に伴う払い戻し</h2>
    イベント主催者の事情または不可抗力等によってイベントが中止となり, イベント主催者がイベントのキャンセル手続きを行った場合, 緒邸の期間内に限り払い戻しを行います. ただし, 注文情報の紛失等によりご本人様の確認が取れない場合, 払い戻しはいたしません. なお, 返金までに3-4週間程お時間をいただく場合がございます.

    <div style="padding:2em;">上記以外の事項に関しては，取引時にご請求があればご連絡します</div>

{% endblock %}