{% extends 'base.html' %}
{% block title %}新規登録{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
<h1>新規登録</h1>

{% if AccountCreate %}
  <h1>登録完了!</h1>
  <a href="{{ url('app:home') }}">mypageへ</a>

{% else %}
  <div class="reg">
  <table class="reg_form">

  <form enctype="multipart/form-data" method="post">
  {{ csrf_input }}
  {{ account_form }}
  <tr><td></td><td>
  <input class="btn" type="submit" name="" value="登録">
  </td></tr>
  </form>

  </table>
  </div>
{% endif %}


{% endblock %}
