h1{
  font-size: 4em;
  margin: 0.5em;
}
[class*=sub--] .flow {
  margin-top: 0;
  padding: 24px 50px 0 24px;
}
.flow {
  margin-top: 0;
  /* margin-top: 32px; */
}
[class*=sub--] .flow > *:first-child {
  margin-top: 0;
}
[class*=sub--] .flow__detail {
  margin-top: 24px;
}
.flow__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  padding-bottom: 1em;
}
ol, ul {
    list-style: none;
}
.flow__item, .flow__item--spread {
    width: calc(25% - 45px);
    margin: 0 16px 0 28px;
}

.flow__item, .flow__item--spread {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: calc(25% - 45px);
  margin: 0 16px 0 28px;
}
.flow__canvas, .flow__canvas--noArrow {
    position: relative;
    width: 100%;
}
.flow__image {
    display: block;
}
.sub__flow{
  background-color:#EBECF1;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  margin-top: 1em;
}
.container{
  text-align: center;
  width: 80%;
  margin: 0 auto;  
}
h3{
  font-size: 3em;
  background-color: #2A314B;
  margin-bottom: 0;
  margin-top: 1em;
  color: #E2CE1F;
  padding: 0.3em;
}
p{
  font-size: 2em;
}

@media screen and (max-width: 750px){
  .flow__list {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      flex-wrap: nowrap;
  }
  .flow__item, .flow__item--spread {
    width: 60%;
    font-size: 2em;
  }
  h1{
    font-size: 2em;
  }
  h3{
    font-size: 1.8em;
  }
  p{
    font-size: 0.5em;
    margin: 0.5em;
  }
}